*                               { margin: 0; padding: 0; }
h2 { 
    color: white; 
    margin: 0 0 10px 0; 
    margin-left: 10px;
}
#page-wrap-chat {
    width: 315px;
    position: absolute;
    background: gray;
    height: 100%;
    opacity: 0.7;
}

#chat-wrap { 
    width: 297px; 
}
#chat-area {
    height: 542px; 
    overflow: auto; 
    border: 1px solid #666; 
    padding: 20px; 
    background: white; 
    margin-left: 10px;
    background: #D3D3D3;
    opacity: 1;
}
#chat-area span                 { color: white; background: #333; padding: 4px 8px; -moz-border-radius: 5px; -webkit-border-radius: 8px; margin: 0 5px 0 0; }
#chat-area p                    { padding: 8px 0; border-bottom: 1px solid #ccc; }

#name-area                      { position: absolute; top: 12px; right: 0; color: white; font: bold 12px "Lucida Grande", Sans-Serif; text-align: right; }   
#name-area span                 { color: #fa9f00; }

#send-message-area p            { float: left; color: white; padding-top: 27px; font-size: 14px; }
#sendie { 
    width: 290px;
    margin: 10px;
    background: #D3D3D3;
}

body {
  /*  background-image: url("https://images.pexels.com/photos/545057/pexels-photo-545057.jpeg");
    background-size: 100%, 100%, 100%;*/
}
#refused {
    position: absolute;
    margin-top: 22%;
    margin-left: 21%;
    color: white;
    font-weight: bold;
    font-size: 2.2em;
}

#list_salon {
    display: inline;
    position: relative;
    float: left;
    border: solid 1px;
    height: 400px;
    width: 400px;
}
        
#new_salon {
    display: inline;
    position: relative;
    float: left;
    border: solid 1px;
    height: 400px;
    width: 400px;
}
#all_menu {
    margin: 0 auto;
    margin-top: 10%;
    width:900px;
    height:300px;
}

#in_list {
    left: 20%;
    position: relative;
    top: 10%;    
}

#new_salon_href {
    top: 45%;
    position: relative;
    left: 14%;
    font-size: xx-large;
    cursor: pointer;
    color: blue;
}

#table_salon {
    height: 299px;
    overflow-y: scroll;
}

#dialog_new_index {
    background: gray;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    opacity: 0.7;
    display: none;
}

#fancy_new_index {
height: 178px;
    width: 463px;
    background: white;
    top: 25%;
    left: 33%;
    position: absolute;
    display: none;
    padding: 31px;
}